<div class="app-panel grey-bg">
  <div class="app-panel-container">
    <div class="about-me">
      <h1
        class="section-title"
        *ngIf="
          breakpointService.handset ||
          breakpointService.xsmall ||
          breakpointService.small ||
          breakpointService.medium
        "
      >
        About Me
      </h1>
      <img
        class="about-me-photo"
        src="../../../assets/laptop-background.jpg"
        alt="Daniel Hedrick"
      />
      <h1
        class="section-title"
        *ngIf="breakpointService.large || breakpointService.xlarge"
      >
        About Me
      </h1>
      <h4>
        If you are looking for someone who is going to sit in meetings or in an
        interview and talk technical terms then you've come to the wrong place
        but If you are looking for a hard working engineer that can deliver
        solutions and fix problems keep reading. I built this digital portfolio
        for a simple demonstrate some of the skills I know. The back end API is
        built with Java Spring Boot providing some basic rest endpoints and is
        hosted on <a href="https://www.heroku.com/">Heroku</a> while the front
        end is built using Angular 12 and is hosted on
        <a href="https://www.netlify.com/">Netlify</a>. Angular Universal is
        used to load some of the resources server side to speed things up and
        help increase the SEO score. There is a service worker that is used to
        control caching and turn this bad boy into a Progressive Web App (Try
        installing on your mobile device). You can run a lighthouse scan in the
        chrome dev tools and see how high it scores. Most of the stuff in this
        app is pretty basic so if there is a specific skill or feature you would
        like to see or just recommend please just shoot me a message at
        <a href="mailto:misterhedrick@gmail.com">misterhedrick@gmail.com</a> and
        I will be glad to take a look. I’m always looking to learn more and
        expand my skill set!!
      </h4>
    </div>
  </div>
</div>
