<mat-toolbar class="sticky">
  <mat-toolbar-row class="main-footer">
    <fa-icon
      class="icon"
      (click)="scrollTo('intro')"
      [icon]="faHome"
      size="2x"
      routerLink="/"
    ></fa-icon>
    <fa-icon
      class="icon"
      (click)="scrollTo('about-me')"
      [icon]="faUser"
      size="2x"
      routerLink="/filter"
    ></fa-icon>
    <fa-icon
      class="icon"
      (click)="scrollTo('languages')"
      [icon]="faLaptopCode"
      size="2x"
      routerLink="/exercise"
    ></fa-icon>
    <fa-icon
      class="icon"
      (click)="scrollTo('achievements')"
      [icon]="faTasks"
      size="2x"
      routerLink="/stats"
    ></fa-icon>
    <fa-icon
      class="icon"
      (click)="scrollTo('experience')"
      [icon]="faHistory"
      size="2x"
    ></fa-icon>
  </mat-toolbar-row>
</mat-toolbar>
