.main-footer {
  display: flex;
  justify-content: space-evenly;
}
.main-footer .icon {
  cursor: pointer;
}
.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: #000000 2px solid;
}
