<div class="app-panel grey-bg">
  <div class="app-panel-container">
    <h1 class="section-title">A Few Things I've Done</h1>
    <div class="list-container">
      <div
        [ngClass]="{
          'col-no-wrap':
            breakpointService.handset ||
            breakpointService.xsmall ||
            breakpointService.small,
          'col-wrap':
            breakpointService.medium ||
            breakpointService.large ||
            breakpointService.xlarge
        }"
      >
        <div *ngFor="let a of (myAchievements | async).achievements">
          <div class="achievement">
            <fa-icon
              class="achievement-icon"
              [icon]="faCircle"
              size="xs"
            ></fa-icon>
            <h2 class="achievement-description">{{ a.description }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
