<div class="app-panel grey-bg">
  <div class="app-panel-container">
    <h1>A Few Things I've Done</h1>
    <div class="list-container">
      <div
        [ngClass]="{
          'col-1':
            breakpointService.handset ||
            breakpointService.xsmall ||
            breakpointService.small,
          mylist:
            breakpointService.medium ||
            breakpointService.large ||
            breakpointService.xlarge
        }"
      >
        <div *ngFor="let a of dataService.myAchievements">
          <div class="achievement">
            <fa-icon [icon]="faCircle" size="xs"></fa-icon>
            <h2>{{ a.description }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
