// Angular Material Theme Setup
@import "~@angular/material/theming";
@include mat-core();
$angular-primary: mat-palette($mat-blue, 500, 100, 900);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-warn: mat-palette($mat-red);
$angular-default-theme: mat-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
@include angular-material-theme($angular-default-theme);

@-ms-viewport {
  width: device-width;
}
html,
body {
  box-sizing: border-box;
  margin: 0;
}
//h1 Titles in each section
.section-title {
  font-size: 48px !important;
  font-weight: 600 !important;
  line-height: normal !important;
}
// Making sure panels are at least 30% of the View Height
.app-panel {
  min-height: 30vh;
  padding: 5rem 0;
}
.grey-bg {
  background-color: whitesmoke;
}
//Generic makes all font white when using .photo-bg class
.photo-bg > * {
  color: #ffffff;
}

.list-container {
  display: flex;
  width: 100%;
  margin: 0;
}
.col-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-wrap > div {
  width: 50%;
}

.col-no-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

//Global Pill Styles
.pill {
  color: #333333;
  margin: 3px 0;
}
.pill-bg {
  background-color: whitesmoke;
  border-radius: 25px;
  margin: 5px 10px;
  height: 90%;
}
.pill-container {
  width: 90%;
  padding: 5px 1rem;
}

// Mobile Specific Styles
@media (max-width: 959px) {
  .app-panel-container {
    width: 95%;
    margin: auto;
  }
  .app-panel-container .section-title {
    text-align: center;
  }
  .photo-bg {
    background: url("./assets/laptop-background.jpg") no-repeat center center
      scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

//Desktop Specific Styles
@media (min-width: 960px) {
  .app-panel-container {
    width: 70%;
    margin: auto;
  }
  .photo-bg {
    background: url("./assets/laptop-background.jpg") no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
