<div class="app-panel photo-bg">
  <div class="app-panel-container">
    <h1>Work Experience</h1>
    <div class="list-container">
      <div class="col-1">
        <div class="pill" *ngFor="let e of dataService.myExperience">
          <div class="pill-bg">
            <div class="pill-container">
              <h2>{{ e.employer }}</h2>
              <h3>{{ e.title }}: {{ e.dates }}</h3>
              <ul>
                <li *ngFor="let h of e.highlights">
                  {{ h }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
